@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --clr-negro: #222831;
    --clr-gris: #393E46;
    --clr-azul: #0E8388;
    --clr-blanco: #EEEEEE;
}

body {
    background-color: var(--clr-gris);
    color: var(--clr-blanco);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--clr-blanco);
    color: var(--clr-negro);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones {
    margin-bottom: 2rem;
}

.marcador {
    background-color: var(--clr-azul);
    color: var(--clr-negro);
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.marcador .nombre {
    position: absolute;
    background-color: var(--clr-gris);
    color: var(--clr-blanco);
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-azul);
}

.marcador .nombre_jugador {
    right: 85%;
}

.marcador .nombre_computadora {
    left: 85%;
}

.marcador .puntos {
    font-size: 1.6rem;
}

.elegir_arma {
    margin-bottom: 2rem;
}

.elegir_arma h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.armas {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.arma {
    font-size: 2rem;
    background-color: var(--clr-blanco);
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.mensaje {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion {
    color: var(--clr-negro);
    background-color: var(--clr-azul);
    border-radius: .25rem;
    padding: .25rem;
}

.btn {
    border: 0;
    line-height: 1;
    background-color: var(--clr-blanco);
    color: var(--clr-negro);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.oculto {
    display: none;
}